//- layout/main-layout.pug
include ../mixin.pug

doctype html
html

    head
        meta(charset="UTF-8")
        block title
        link(rel="shortcut icon" href="img/favicon.jpg" type="image/jpg")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="keywords" content="")
        meta(name="description" content="")
        link(rel="stylesheet" type="text/css" href="../../../style/main.css")
        block link-css

    block content
    include ../../components/footer/footer.pug
    block scripts