
include components/navMenu/nav-menu
include components/sideMenu/side-menu


mixin icon(name, mod)
    - mod = mod || ''
    svg(class="icon icon-" + name + ' ' + mod)
        use(xlink:href="/image/sprites/spriteSVG/symbol/sprite.svg#" + name)