@font-face {
    font-family: "UndergroundCYPro";
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/UndergroundCYPro/UndergroundCYPro-Thin.eot');
    src: url("../fonts/UndergroundCYPro/UndergroundCYPro-Thin.otf") format("opentype"),
        url('../fonts/UndergroundCYPro/UndergroundCYPro-Thin.woff') format('woff'),
        url('../fonts/UndergroundCYPro/UndergroundCYPro-Thin.ttf') format('truetype');
}
@font-face {
    font-family: "UndergroundCYPro";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/UndergroundCYPro/UndergroundCYPro-Book.eot');
    src: url("../fonts/UndergroundCYPro/UndergroundCYPro-Book.otf") format("opentype"),
        url('../fonts/UndergroundCYPro/UndergroundCYPro-Book.woff') format('woff'),
        url('../fonts/UndergroundCYPro/UndergroundCYPro-Book.ttf') format('truetype');
}
@font-face {
    font-family: "UndergroundCYPro";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/UndergroundCYPro/UndergroundCYPro-Medium.eot');
    src: url("../fonts/UndergroundCYPro/UndergroundCYPro-Medium.otf") format("opentype"),
        url('../fonts/UndergroundCYPro/UndergroundCYPro-Medium.woff') format('woff'),
        url('../fonts/UndergroundCYPro/UndergroundCYPro-Medium.ttf') format('truetype');
}
@font-face {
    font-family: "UndergroundCYPro";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/UndergroundCYPro/UndergroundCYPro-Demi.eot');
    src: url("../fonts/UndergroundCYPro/UndergroundCYPro-Demi.otf") format("opentype"),
        url('../fonts/UndergroundCYPro/UndergroundCYPro-Demi.woff') format('woff'),
        url('../fonts/UndergroundCYPro/UndergroundCYPro-Demi.ttf') format('truetype');
}
