// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$calendar-name: 'calendar';
$calendar-x: 542px;
$calendar-y: 143px;
$calendar-offset-x: -542px;
$calendar-offset-y: -143px;
$calendar-width: 128px;
$calendar-height: 128px;
$calendar-total-width: 670px;
$calendar-total-height: 527px;
$calendar-image: '../image/sprites/sprite/sprite.png';
$calendar: (542px, 143px, -542px, -143px, 128px, 128px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'calendar', );
$fb-name: 'fb';
$fb-x: 589px;
$fb-y: 492px;
$fb-offset-x: -589px;
$fb-offset-y: -492px;
$fb-width: 32px;
$fb-height: 32px;
$fb-total-width: 670px;
$fb-total-height: 527px;
$fb-image: '../image/sprites/sprite/sprite.png';
$fb: (589px, 492px, -589px, -492px, 32px, 32px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'fb', );
$gdoc-name: 'gdoc';
$gdoc-x: 605px;
$gdoc-y: 429px;
$gdoc-offset-x: -605px;
$gdoc-offset-y: -429px;
$gdoc-width: 48px;
$gdoc-height: 48px;
$gdoc-total-width: 670px;
$gdoc-total-height: 527px;
$gdoc-image: '../image/sprites/sprite/sprite.png';
$gdoc: (605px, 429px, -605px, -429px, 48px, 48px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'gdoc', );
$git-name: 'git';
$git-x: 461px;
$git-y: 271px;
$git-offset-x: -461px;
$git-offset-y: -271px;
$git-width: 32px;
$git-height: 32px;
$git-total-width: 670px;
$git-total-height: 527px;
$git-image: '../image/sprites/sprite/sprite.png';
$git: (461px, 271px, -461px, -271px, 32px, 32px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'git', );
$gplay-name: 'gplay';
$gplay-x: 414px;
$gplay-y: 271px;
$gplay-offset-x: -414px;
$gplay-offset-y: -271px;
$gplay-width: 32px;
$gplay-height: 32px;
$gplay-total-width: 670px;
$gplay-total-height: 527px;
$gplay-image: '../image/sprites/sprite/sprite.png';
$gplay: (414px, 271px, -414px, -271px, 32px, 32px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'gplay', );
$gplus-name: 'gplus';
$gplus-x: 542px;
$gplus-y: 429px;
$gplus-offset-x: -542px;
$gplus-offset-y: -429px;
$gplus-width: 48px;
$gplus-height: 48px;
$gplus-total-width: 670px;
$gplus-total-height: 527px;
$gplus-image: '../image/sprites/sprite/sprite.png';
$gplus: (542px, 429px, -542px, -429px, 48px, 48px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'gplus', );
$in-name: 'in';
$in-x: 542px;
$in-y: 492px;
$in-offset-x: -542px;
$in-offset-y: -492px;
$in-width: 32px;
$in-height: 32px;
$in-total-width: 670px;
$in-total-height: 527px;
$in-image: '../image/sprites/sprite/sprite.png';
$in: (542px, 492px, -542px, -492px, 32px, 32px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'in', );
$man-name: 'man';
$man-x: 542px;
$man-y: 286px;
$man-offset-x: -542px;
$man-offset-y: -286px;
$man-width: 128px;
$man-height: 128px;
$man-total-width: 670px;
$man-total-height: 527px;
$man-image: '../image/sprites/sprite/sprite.png';
$man: (542px, 286px, -542px, -286px, 128px, 128px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'man', );
$note-name: 'note';
$note-x: 271px;
$note-y: 271px;
$note-offset-x: -271px;
$note-offset-y: -271px;
$note-width: 128px;
$note-height: 128px;
$note-total-width: 670px;
$note-total-height: 527px;
$note-image: '../image/sprites/sprite/sprite.png';
$note: (271px, 271px, -271px, -271px, 128px, 128px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'note', );
$pnt-name: 'pnt';
$pnt-x: 636px;
$pnt-y: 492px;
$pnt-offset-x: -636px;
$pnt-offset-y: -492px;
$pnt-width: 32px;
$pnt-height: 32px;
$pnt-total-width: 670px;
$pnt-total-height: 527px;
$pnt-image: '../image/sprites/sprite/sprite.png';
$pnt: (636px, 492px, -636px, -492px, 32px, 32px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'pnt', );
$search-one-name: 'search_one';
$search-one-x: 0px;
$search-one-y: 271px;
$search-one-offset-x: 0px;
$search-one-offset-y: -271px;
$search-one-width: 256px;
$search-one-height: 256px;
$search-one-total-width: 670px;
$search-one-total-height: 527px;
$search-one-image: '../image/sprites/sprite/sprite.png';
$search-one: (0px, 271px, 0px, -271px, 256px, 256px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'search_one', );
$search-second-name: 'search_second';
$search-second-x: 271px;
$search-second-y: 0px;
$search-second-offset-x: -271px;
$search-second-offset-y: 0px;
$search-second-width: 256px;
$search-second-height: 256px;
$search-second-total-width: 670px;
$search-second-total-height: 527px;
$search-second-image: '../image/sprites/sprite/sprite.png';
$search-second: (271px, 0px, -271px, 0px, 256px, 256px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'search_second', );
$search-thierd-name: 'search_thierd';
$search-thierd-x: 0px;
$search-thierd-y: 0px;
$search-thierd-offset-x: 0px;
$search-thierd-offset-y: 0px;
$search-thierd-width: 256px;
$search-thierd-height: 256px;
$search-thierd-total-width: 670px;
$search-thierd-total-height: 527px;
$search-thierd-image: '../image/sprites/sprite/sprite.png';
$search-thierd: (0px, 0px, 0px, 0px, 256px, 256px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'search_thierd', );
$tw-name: 'tw';
$tw-x: 414px;
$tw-y: 318px;
$tw-offset-x: -414px;
$tw-offset-y: -318px;
$tw-width: 32px;
$tw-height: 32px;
$tw-total-width: 670px;
$tw-total-height: 527px;
$tw-image: '../image/sprites/sprite/sprite.png';
$tw: (414px, 318px, -414px, -318px, 32px, 32px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'tw', );
$woman-name: 'woman';
$woman-x: 542px;
$woman-y: 0px;
$woman-offset-x: -542px;
$woman-offset-y: 0px;
$woman-width: 128px;
$woman-height: 128px;
$woman-total-width: 670px;
$woman-total-height: 527px;
$woman-image: '../image/sprites/sprite/sprite.png';
$woman: (542px, 0px, -542px, 0px, 128px, 128px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'woman', );
$you-name: 'you';
$you-x: 461px;
$you-y: 318px;
$you-offset-x: -461px;
$you-offset-y: -318px;
$you-width: 32px;
$you-height: 32px;
$you-total-width: 670px;
$you-total-height: 527px;
$you-image: '../image/sprites/sprite/sprite.png';
$you: (461px, 318px, -461px, -318px, 32px, 32px, 670px, 527px, '../image/sprites/sprite/sprite.png', 'you', );
$spritesheet-width: 670px;
$spritesheet-height: 527px;
$spritesheet-image: '../image/sprites/sprite/sprite.png';
$spritesheet-sprites: ($calendar, $fb, $gdoc, $git, $gplay, $gplus, $in, $man, $note, $pnt, $search-one, $search-second, $search-thierd, $tw, $woman, $you, );
$spritesheet: (670px, 527px, '../image/sprites/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
