
.main-word {
  border-radius: 2%;
  background-color: #eee;
  color: #000;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  height: 170px;
  font-size: 50px;
  line-height: 170px;
  text-align: center;
  margin-top: 50px;
}

.another_words {
  width: 45%;
  height: 100px;
  line-height: 100px;
  background-color: #78cedb;
  color: #fff;
  border-radius: 4%;
  cursor: pointer;
  text-align: center;
}

.answerTrue {
  background-color: green;
}

.answerFalse {
  background-color: red;
}

.iconPng {
  display: block;

  &.women {
    @include sprite($woman);
  }
  &.tw {
    @include sprite($tw);
  }
  &.search-one {
    @include sprite($search-one);
  }
  &.note {
    @include sprite($note);
  }
  &.men {
    @include sprite($in);
  }
  &.fb {
    @include sprite($fb);
  }
  &.calendar {
    @include sprite($calendar);
  }
  &.gdoc {
    @include sprite($gdoc);
  }
}

.article__image {
  display: inline-block;
  margin-bottom: 2.5rem;
}