//- layout/main-layout.pug
extends layout/main-layout.pug
block title
    title Can I speak?
block link-css
    link(rel="stylesheet" type="text/css" href="style/all_dev.css")

block content
    body.index
        .container
            a(href = "pages/first/first.html" ) First page
            a(href = "pages/second/second.html" ) Second page