//- layout/main-layout.pug
extends templates/layout/main-layout.pug

block title
    title Start project

block content
    body.index
        .index__container
            ul.index__list
                li
                    a(href = "pages/first/first.html").index__link First page
                li
                    a(href = "pages/second/second.html").index__link Second page
                li
                    a(href = "pages/third/third.html").index__link Third page




